.Page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Header {
  padding-top: 1%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-right: 30%;
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-right: 20%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.InputText {
  font-weight: bold;
  font-size: large;
}

.Dropdown {
  width: auto;
  height: auto;
}

.InputWrapper {
  padding-top: 18px;
  height: auto;
  width: auto;
}

.FormWrapper {
  padding-top: 40px;
}

.Input {
  width: 200%;
}

.ButtonWrapperClear {
  padding-top: 25px;
  padding-left: 100%;
}

.ButtonWrapperInsert {
  padding-top: 25px;
  padding-left: 50%;
}

.InsertButton {
  align-self: center;
  width: auto;
  height: 35px;
  color: white;
  font-weight: bold;
  background-color: #66db10;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.ClearButton {
  align-self: center;
  width: 100px;
  height: 35px;
  color: white;
  font-weight: bold;
  background-color: #c71f1f;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.InsertButton:hover {
  background-color: #5caa24;
}

.InsertButton:active {
  background-color: #5caa24;
  box-shadow: 0 5px #999;
  transform: translateY(3px);
}

.ClearButton:hover {
  background-color: #912424;
}

.ClearButton:active {
  background-color: #912424;
  box-shadow: 0 5px #999;
  transform: translateY(3px);
}

.NoticeWrapper {
  padding-top: 30%;
  width: 500px;
  text-align: center;
}

.SuccessText {
  font-weight: bold;
  color: #66db10;
}

.FailureText {
  font-weight: bold;
  color: #c71f1f;
}